<h2 class="text-center mt-5 mb-3">Show Movie</h2>
<div class="card">
    <div class="card-header">
        <a routerLink="/movie"
            class="btn btn-outline-info float-right"
            >View All Movies
        </a>
    </div>
    <div class="card-body">
        <b className="text-muted">Title:</b>
        <p>{{movie.title}}</p>
        <b className="text-muted">Genre:</b>
        <p>{{movie.genre}}</p>
        <b className="text-muted">Year:</b>
        <p>{{movie.year}}</p>
        <b className="text-muted">Rating:</b>
        <p>{{movie.rating}}</p>
    </div>
</div>